<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProductionReporting.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ProductionReporting.My.MySettings>
            <setting name="Company" serializeAs="String">
                <value>SRKOH</value>
            </setting>
            <setting name="Site" serializeAs="String">
                <value>32001</value>
            </setting>
            <setting name="ProductionLine" serializeAs="String">
                <value>ASY14</value>
            </setting>
            <setting name="DropFolder" serializeAs="String">
                <value>C:\Users\reinhartm\source\repos\ProductionReporting\ProductionReporting\exports</value>
            </setting>
            <setting name="Debugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathToDataValidationFiles" serializeAs="String">
                <value>\\blufs.dtroh.com\Shared\reinhartm\1-Current Projects\20181030 - VB Production Reporting Program\Exported Validation Data\</value>
            </setting>
        </ProductionReporting.My.MySettings>
    </applicationSettings>
</configuration>